<div id="mapid" #map></div>
<section class="district-button-container">
  <button (click)="showDistrictsStats(42, 'Cits', otherButton)" #otherButton>Cits</button>
<!--  <button (click)="showDistrictsStats(0, 'Visa Rīga', allButton)" #allButton>Visa Rīga</button>-->
</section>
<section class="info-card card" [ngClass]="{'hidden': isInfoBlockHidden}">
  <h3>
    <svg (click)="hideInfoBlock()" class="hide-info-block" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M14.8,12l3.6-3.6c0.8-0.8,0.8-2,0-2.8c-0.8-0.8-2-0.8-2.8,0L12,9.2L8.4,5.6c-0.8-0.8-2-0.8-2.8,0   c-0.8,0.8-0.8,2,0,2.8L9.2,12l-3.6,3.6c-0.8,0.8-0.8,2,0,2.8C6,18.8,6.5,19,7,19s1-0.2,1.4-0.6l3.6-3.6l3.6,3.6   C16,18.8,16.5,19,17,19s1-0.2,1.4-0.6c0.8-0.8,0.8-2,0-2.8L14.8,12z" id="exit"/></svg>
    {{currentDistrictName}} statistiku
  </h3>
  <div #data>
    <div *ngIf="isLoading else dataContainer" class="loader-holder">
      <div class="loader"><div></div><div></div><div></div></div>
      <div class="text">datu ielāde</div>
    </div>
    <ng-template #dataContainer>
      <div *ngIf="!currentData else showData">Nesanāca ielādēt datus, lūdzu pamēģiniet vēlāk</div>
      <ng-template #showData>
        <table class="data-container">
          <tr>
            <th>m<sup>2</sup></th>
            <td class="data-element">
              <div class="value">{{currentData.area_avg}}</div>
              <div class="title">vidēji</div>
            </td>
            <td class="data-element">
              <div class="value">{{currentData.area_maxi}}</div>
              <div class="title">max</div>
            </td>
            <td class="data-element">
              <div class="value">{{currentData.area_mini}}</div>
              <div class="title">min</div>
            </td>
          </tr>
          <tr>
            <th>Cena</th>
            <td class="data-element">
              <div class="value">{{currentData.price_avg}}</div>
              <div class="title">vidēji</div>
            </td>
            <td class="data-element">
              <div class="value">{{currentData.price_maxi}}</div>
              <div class="title">max</div>
            </td>
            <td class="data-element">
              <div class="value">{{currentData.price_mini}}</div>
              <div class="title">min</div>
            </td>
          </tr>
          <tr>
            <th>Cena, m<sup>2</sup></th>
            <td class="data-element">
              <div class="value">{{currentData.pps_avg}}</div>
              <div class="title">vidēji</div>
            </td>
            <td class="data-element">
              <div class="value">{{currentData.pps_maxi}}</div>
              <div class="title">max</div>
            </td>
            <td class="data-element">
              <div class="value">{{currentData.pps_mini}}</div>
              <div class="title">min</div>
            </td>
          </tr>
          <tr>
            <th>Ist.</th>
            <td class="data-element">
              <div class="value">{{currentData.rooms_avg}}</div>
              <div class="title">vidēji</div>
            </td>
            <td class="data-element">
              <div class="value">{{currentData.rooms_maxi}}</div>
              <div class="title">max</div>
            </td>
            <td class="data-element">
              <div class="value">{{currentData.rooms_mini}}</div>
              <div class="title">min</div>
            </td>
          </tr>
          <tr>
            <th>Stāvs</th>
            <td class="data-element">
              <div class="value">{{currentData.total_stories_avg}}</div>
              <div class="title">vidēji</div>
            </td>
            <td class="data-element">
              <div class="value">{{currentData.total_stories_maxi}}</div>
              <div class="title">max</div>
            </td>
            <td class="data-element">
              <div class="value">{{currentData.total_stories_mini}}</div>
              <div class="title">min</div>
            </td>
          </tr>
        </table>
      </ng-template>
    </ng-template>
  </div>
</section>
